# Project root
PROJECT_ROOT=.

# Server configuration
SERVER_HOST=localhost
SERVER_PORT=8080
SERVER_SHUTDOWN_TIMEOUT=5000ms

# Database configuration
DATABASE_POSTGRES_DB=todolist
DATABASE_POSTGRES_USER=todolist
DATABASE_POSTGRES_PASSWORD=todolist
DATABASE_POSTGRES_HOST=localhost
DATABASE_POSTGRES_PORT=5432
DATABASE_POSTGRES_URL=postgres://${DATABASE_POSTGRES_USER}:${DATABASE_POSTGRES_PASSWORD}@${DATABASE_POSTGRES_HOST}:${DATABASE_POSTGRES_PORT}/${DATABASE_POSTGRES_DB}?sslmode=disable

# Logger configuration
LOGGER_LEVEL=debug
LOGGER_FOLDER=./out/logs

# Environment configuration
ENVIRONMENT_DEBUG=true